@import './variables.css';

/* overpass-regular - latin */
@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/overpass/overpass-v12-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('./assets/fonts/overpass/overpass-v12-latin-regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */
            url('./assets/fonts/overpass/overpass-v12-latin-regular.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('./assets/fonts/overpass/overpass-v12-latin-regular.woff')
            format('woff'),
        /* Modern Browsers */
            url('./assets/fonts/overpass/overpass-v12-latin-regular.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('./assets/fonts/overpass/overpass-v12-latin-regular.svg#Overpass')
            format('svg');
    /* Legacy iOS */
}

/* cormorant-sc-regular - latin */
@font-face {
    font-family: 'Cormorant SC';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/cormorant-sc/cormorant-sc-v17-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('./assets/fonts/cormorant-sc/cormorant-sc-v17-latin-regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */
            url('./assets/fonts/cormorant-sc/cormorant-sc-v17-latin-regular.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('./assets/fonts/cormorant-sc/cormorant-sc-v17-latin-regular.woff')
            format('woff'),
        /* Modern Browsers */
            url('./assets/fonts/cormorant-sc/cormorant-sc-v17-latin-regular.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('./assets/fonts/cormorant-sc/cormorant-sc-v17-latin-regular.svg#CormorantSC')
            format('svg');
    /* Legacy iOS */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--main-background);
    font-family: 'Overpass', 'RobotoRegular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
}

h1,
h2,
h3 {
    font-family: 'Cormorant SC', 'RobotoRegular', sans-serif;
}

a {
    text-decoration: none;
    color: gold;
}

a:active {
    transform: scale(1.02);
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}
