@value variables: "../../../variables.css";
@value primary-color from variables;

.edit-profile-form {
    margin-bottom: 40px;
}

.profile-label {
    color: primary-color;
}

.username-input {
    display: block;
    max-width: 300px;
}

.edit-profile {
    margin-bottom: 50px;
}

.custom-file-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.custom-file-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

    margin-top: 0;
    padding: 2px 7px;
    font-family: 'Overpass';
    background-color: #fff;
    color: black;
    border-radius: 5px;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.upload-icon {
    width: 40px;
}

.custom-file-button:active {
    transform: scale(0.98);
}
