.overview {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 50px;
}

.frame {
    width: 200px;
    height: 200px;
    background-color: black;
    border: 5px ridge gold;
}

.avatar-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stat-value {
    color: gold;
}

.edit-profile-form {
    margin-bottom: 40px;
}

.profile-label {
    color: gold;
}

.username-input {
    display: block;
    max-width: 300px;
}

.edit-profile {
    margin-bottom: 50px;
}

.delete-profile-form {
    margin-bottom: 50px;
}

.delete-profile-button {
    color: white;
    background-color: crimson;
}
