@value variables: "../../../variables.css";
@value primary-color from variables;

.overview {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 50px;
}

.frame {
    width: 200px;
    height: 200px;
    background-color: black;
    border: 5px ridge primary-color;
}

.avatar-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stat-value {
    color: primary-color;
}
